.dashboard-product-manager {
    display: grid;
    grid-template-columns: 300px 150px 150px 200px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.383);
}

.dashboard-product-manager h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 400;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: left;
    padding-left: 60px;
}

.action img {
    margin: 10px;
    cursor: pointer;
    transition: all .3s;
}